<article class="card mb-3 resume resume-<%= resume.id %>">
    <div class="card-header">
        <small class="d-inline-block mb-3 text-secondary border-bottom"><%= t('.posted')%>: <%= time_ago_in_words(resume.created_at) %> <%= t('.ago')%>.</small>
        <h3 class="mb-0"><%= resume.headline %></h3>
    </div>
    <div class="card-body">
        <%#= t('.headline')%> <%#= resume.headline %>
        <p><%= "#{resume.first_name} #{resume.last_name}" %></p>
        <% if resume.avatar.attached? %>
            <%= image_tag resume.avatar_thumbnail, class: "img-thumbnail avatar-user-profile m-2" %>
        <% else %>
            <%= embedded_svg("profile-logo", class: "img-thumbnail avatar-user-profile m-2", alt: "job_seeker-logo") %>
        <% end %>
        <p><%= t('.first_name')%>: <%= resume.first_name %></p>
        <p><%= t('.last_name')%>: <%= resume.last_name %></p>
        <p><%= t('.phone_number')%>: <%= resume.phone_number %></p>
        <hr/>
        <p><%= t('.country_of_residence')%>: <%= resume.country_of_residence %></p>
        <p><%= t('.city_or_state_of_residence')%>: <%= resume.city_or_state_of_residence %></p>
        <p><%= t('.street_address_residence')%>: <%= resume.street_address_residence %></p>
        <p><%= t('.relocation')%>: <%= resume.relocation %></p>
        <hr/>
        <p>
          <%= t('.skills')%>:
          <% resume.skills.each do |skill| %>
            <%= link_to skill.name, resumes_skill_path(id: skill) %>
            <!-- ??? _path(id: skill.id) -->
          <% end %>
        </p>
        <%= link_to t('.read_more'), resume_path(id: resume.id), class: "btn btn-sm btn-outline-primary" %>
    </div>
</article>
