<%= form_with model: @job_seeker, local: true, url: job_seeker_path, method: :put do |f| %>

<div class="mb-3">
    <%= f.label :first_name, "First name", class: "form-label" %>
    <%= f.text_field :first_name, class: "form-control" %>
</div>
<div class="mb-3">
    <%= f.label :last_name, "Last name", class: "form-label" %>
    <%= f.text_field :last_name, class: "form-control" %>
</div>
<div class="mb-3">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
</div>
<div class="mb-3">
    <%= f.label :phone_number, "Phone", class: "form-label" %>
    <%= f.text_field :phone_number, class: "form-control" %>
</div>
    <%= f.submit "Eneter", class: "btn btn-primary" %>
<% end %>
