<div class="card mb-3">
    <div class="card-body">
        <%= link_to t('.add_new_resume'), new_resume_path, class: "btn btn-primary btn-large" %>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <p><%= t('.first_name') %>: <%= @job_seeker.first_name %></p>
        <p><%= t('.last_name') %>: <%= @job_seeker.last_name %></p>
        <p><%= t('.email') %>: <%= @job_seeker.email %></p>
        <p><%= t('.phone_number') %>: <%= @job_seeker.phone_number %></p>

        <%= link_to t('.edit_details'), edit_job_seeker_path, class: "btn btn-primary" %>
    </div>
</div>
