<article class="card mb-3 vacancy vacancy-<%= vacancy.id %>">
    <div class="card-header">
        <small class="d-inline-block mb-3 text-secondary border-bottom"><%= t('.posted')%>: <%= time_ago_in_words(vacancy.created_at) %> <%= t('.ago')%>.</small>
        <h3 class="mb-0"><%= vacancy.job_title %></h3>
    </div>
    <div class="card-body">
        <p><%= t('.job_title')%>: <%= vacancy.job_title %></p>
        <p><%= t('.company_name')%>: <%= vacancy.company_name %></p>
        <p><%= t('.country')%>: <%= vacancy.country %></p>
        <p><%= t('.location')%>: <%= vacancy.location %></p>
        <p><%= t('.remote')%>: <%= vacancy.remote %></p>
        <p><%= t('.type_of_job')%>: <%= vacancy.type_of_job %></p>
        <p><%= t('.salary')%>: <%= vacancy.salary %></p>
        <p><%= t('.description')%>: <%= vacancy.description %></p>
        <hr/>
        <p>
          <%= t('.skills')%>:
          <% vacancy.skills.each do |skill| %>
            <%= link_to skill.name, skill_path(id: skill.id) %>
            <!-- ??? _path(id: skill.id) -->
          <% end %>
        </p>
        <%= link_to t('.read_more'), vacancy_path(id: vacancy.id), class: "btn btn-sm btn-outline-primary" %>
    </div>
</article>
