<article class="card shadow bg-body rounded mb-4 vacancy vacancy-<%= vacancy.id %>">
    <div class="card-header">
        <small class="d-inline-block mb-3 text-secondary border-bottom"><%= t('.posted')%>: <%= time_ago_in_words(vacancy.created_at) %> <%= t('.ago')%>.</small>
        <h3 class="mb-0"><%= link_to vacancy.job_title, vacancy_path(id: vacancy.id), class: "title-link" %></h3>
    </div>
    <div class="card-body">
        <p class="fw-light fs-5 mb-1"><%= vacancy.company_name %></p>

        <p class="fs-4 mb-1"><%= t('.from') %> <%= vacancy.from %> <%= t('.to') %> <%= vacancy.to %> <%= currency(vacancy.currency) %> <%= rate(vacancy.rate) %></p>
        <p class="mb-2"><%= vacancy.country %><span class="inline-separator"> • </span><%= vacancy.city_or_state %></p>
        <p class="mb-0"><%= t('.work_experience') %>: <%= work_experience(vacancy.work_experience) %></p>
        <p><%= job_type(vacancy.job_type) %>, <%= schedule_job(vacancy.schedule_job) %></p>

        <hr/>
        <p>
          <%= t('.skills')%>:

          <% vacancy.skills.each do |skill| %>
            <%= link_to skill.name, vacancies_skill_path(id: skill) %>
          <% end %>
        </p>

        <%= link_to t('.read_more'), vacancy_path(id: vacancy.id), class: "btn btn-sm btn-outline-primary" %>
    </div>
</article>
