<div class="card mb-3">
    <div class="card-body">
        <%= link_to t('.add_new_vacancy'), new_vacancy_path, class: "btn btn-primary btn-large" %>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <p><%= t('.name') %>: <%= @company.name %></p>
        <p><%= t('.about_company') %>: <%= @company.about_company %></p>
        <p><%= t('.website') %>: <%= @company.website %></p>
        <p><%= t('.email') %>: <%= @company.email %></p>

        <%= link_to t('.edit_details'), edit_company_path, class: "btn btn-primary" %>
    </div>
</div>
