<div class="card mb-3">
    <div class="card-body">
        <p>Name company: <%= @company.name %></p>
        <p>About company: <%= @company.about %></p>
        <p>Website: <%= @company.website %></p>
        <p>Email: <%= @company.email %></p>

        <%= link_to "Edit Details", edit_company_path, class: "btn btn-primary" %>
    </div>
</div>
