<%= render "users/shared/error_messages", resource: resource %>

<div class="form-devise text-center">
  <h1 class="h3 mb-3 fw-normal">Change your password</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-floating">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control first", placeholder: "Enter a new password" %>
      <%= f.label :password, "Enter a new password" %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control last", placeholder: "Confirm new password" %>
      <%= f.label :password_confirmation, "Confirm new password" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
