<article class="card mb-3 resume resume-<%= resume.id %>">
    <div class="card-header">
        <small class="d-inline-block mb-3 text-secondary border-bottom"><%= t('.posted')%>: <%= time_ago_in_words(resume.created_at) %> <%= t('.ago')%>.</small>
        <h3 class="mb-0"><%= "#{resume.first_name} #{resume.last_name}" %></h3>
    </div>
    <div class="card-body">
        <p><%= t('.first_name')%>: <%= resume.first_name %></p>
        <p><%= t('.last_name')%>: <%= resume.last_name %></p>
        <p><%= t('.headline')%>: <%= resume.headline %></p>
        <p><%= t('.phone_number')%>: <%= resume.phone_number %></p>
        <p><%= t('.country_of_residence')%>: <%= resume.country_of_residence %></p>
        <p><%= t('.street_address_residence')%>: <%= resume.street_address_residence %></p>
        <p><%= t('.city_or_state_of_residence')%>: <%= resume.city_or_state_of_residence %></p>
        <p><%= t('.job_title')%>: <%= resume.job_title %></p>
        <p><%= t('.company')%>: <%= resume.company %></p>
        <p><%= t('.country_of_work')%>: <%= resume.country_of_work %></p>
        <p><%= t('.city_or_state_of_work')%>: <%= resume.city_or_state_of_work %></p>
        <p><%= t('.time_period')%>: <%= resume.time_period %></p>
        <hr/>

        <%= link_to t('.read_more'), resume_path(id: resume.id), class: "btn btn-sm btn-outline-primary" %>
    </div>
</article>
