<div class="card mb-3">
    <div class="card-header">
        <h1 class="mb-0"><%= t('.your_resume')%></h1>
    </div>
    <div class="card-body">
        <p><%= t('.first_name')%>: <%= @resume.first_name %></p>
        <p><%= t('.last_name')%>: <%= @resume.last_name %></p>
        <p><%= t('.phone_number')%>: <%= @resume.phone_number %></p>
        <p><%= t('.country')%>: <%= @resume.country %></p>
        <p><%= t('.street_address')%>: <%= @resume.street_address %></p>
        <p><%= t('.city_or_state')%>: <%= @resume.city_or_state %></p>
        <hr/>
        <p>
          <%= t('.skills')%>:
          <% @resume.skills.each do |skill| %>
            <%= link_to skill.name, skill_path(id: skill.id) %>
          <% end %>
        </p>
        <%= link_to t('.edit_resume'), edit_resume_path, class: "btn btn-primary" %>
    </div>
</div>
</div>

